<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="Style/style.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-3">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <b>WOMENS</b>
                                    </a>
                                    <ul class="dropdown-menu" style="border-radius: 0">
                                        <li><a class="dropdown-item" href="newArrivals.aspx">NEW ARRIVALS</a></li>
                                        <li><a class="dropdown-item" href="allproducts.aspx">ALL PRODUCTS</a></li>
                                        <li><a class="dropdown-item" href="tops.aspx">TOPS</a></li>
                                        <li><a class="dropdown-item" href="bottoms.aspx">BOTTOMS</a></li>
                                        <li><a class="dropdown-item" href="dresses.aspx">DRESSES</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <b>MENS</b>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-square" style="border-radius: 0">
                                        <li><a class="dropdown-item" href="newArrivalsMen.aspx">NEW ARRIVALS</a></li>
                                        <li><a class="dropdown-item" href="allproductsMen.aspx">ALL PRODUCTS</a></li>
                                        <li><a class="dropdown-item" href="topsMen.aspx">TOPS</a></li>
                                        <li><a class="dropdown-item" href="bottomsMen.aspx">BOTTOMS</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="#">
                                        <b>SALE</b>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <a href="default.aspx">
                    <img class="img-fluid" src="/images/logo.jpg" style="max-width: 100%; height: 22px" />
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center ">

                <a href="#" style="margin-right: 20px"  title="Tìm kiếm">
                    <i class='bx bx-search text-dark bi fs-2'></i>
                </a>

                <a href="account.aspx" style="margin-right: 20px" title="Thông tin cá nhân">
                    <i class='bx bx-user text-dark bi fs-2'></i>
                </a>
                <a href="cart.aspx" style="margin-right: 20px" title="Giỏ hàng">
                    <i class='bx bx-shopping-bag text-dark bi fs-2'></i>
                </a>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>



    <div class="footer-container text-center" style="margin-top: 100px; margin-bottom: 40px">
        <div class="">
            <ul>
                <li class="d-inline-block px-3 pb-3  ">
                    <a href="#" title="SHIPPING &amp; RETURNS" style="text-decoration: none; color: #000000; font-weight: bold;">SHIPPING &amp; RETURNS</a>
                </li>
                <li class="d-inline-block px-3 pb-3 ">
                    <a href="#" title="STOCKLIST &amp; CONTACT" style="text-decoration: none; color: #000000; font-weight: bold;">STOCKLIST &amp; CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="d-flex justify-content-center align-content-center list-unstyled">
                <li>
                    <a href="#" title="FENG SYSTEM on Facebook" style="color: #3b5999; text-decoration: none;">
                        <i class="bx bxl-facebook rounded-square p-2 bi fs-3"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="FENG SYSTEM on Instagram" style="color: #e4405f; text-decoration: none;">
                        <i class="bx bxl-instagram rounded-square p-2 bi fs-3"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="">
            <p> Copyright &copy; 2023 <b>FENG SYSTEM</b>.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
